:root {
  --light-gray: #737373;
}
.blue-bg{background-color: #1A73E8;}
.green-bg{background-color: #43A047;}
.green   { color: #4caf50; }
.red     { color: #e91e63; }
.blue    { color: #2196f3; }
.orange  { color: #ff9800; }
.pink    { color: #ec407a; }
.dark    { color: #212121; }

body{
  background-color: #f5f5f5;
  margin: 0;
  padding: 7px;
  font-family: "Inter", sans-serif;  
  font-size: 14px; 
}
.layoutWrapper{
  display: flex;
  background-color: #f5f5f5;
  align-items: start;
  justify-content: space-between;
}
nav{
  width: 100%;
  display: flex;
  padding: 5px 30px;
  margin-left: 230px;
  align-items: center;
  border-radius: 15px;
  background-color: #f5f5f5;
  justify-content: space-between;
  /* box-shadow: 0 4px 6px rgba(153, 152, 152, 0.1); */
}
.first-section{
  color: gray;
  letter-spacing: 0.05rem;
}
.active{color: black;}
.second-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-wrapper{
  position: relative;
  width: 190px;
  /* display: none; */
}
.input-wrapper input{
  border: 1px solid #d2d6da;
  width: 100%;
  padding: 10px;
  border-radius: 7px;  
  background-color: transparent;
}
.input-wrapper label{
  position: absolute;
  top: 30%;
  left: 7%;
  color: gray;
  transition: 0.2s;
  pointer-events: none;
}
.input-wrapper input:focus{
  border: 2px solid #e91e63;
  outline: none;
  transition: 0.15ms;
  border-radius: 5px;
  box-shadow: none;
}
.input-wrapper input:focus + label{
  color: #e91e63;
  top: -12%;
  left: 7%;
  font-size: 12px;
  background-color: #f5f5f5;
  padding: 0px 5px;
}
.online-builder{
  border: 1px solid #e91e63;
  border-radius: 10px;
  background-color: transparent;
  color: #e91e63;
  padding: 8px 15px;
  /* display: none; */
  margin: 0px 15px 0px 35px;
  cursor: pointer;
}
.github-button{
  display: flex;
  align-items: center;
  border: 1px solid #d1d9e0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.github-star{
  background-color: #e5eaee;
  padding: 5px 10px;
  font-size: 12px;
}
.github-star:hover{
  background-color: #e5eaee98;
}
.gt-star{
  font-size: 14px;
  line-height: 16px;
  color: #25292e;
}
.github-number{
  border-left: 1px solid #d1d9e0;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  background-color: white;
}
.nav-icons{
  color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}
.Sidebar{
  height: 95%;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
}
.Sidebar a{
  text-decoration: none;
  color: black;
}
.top-sidebar{height: 380px;}
.logo-container{
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #eee;
  padding: 12px;
  font-size: 14px;
}
.logo-name{margin-left: 10px;}
.sidebar-links{
  list-style: none;
  padding: 0px;  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-links li{
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  transition: 0.2s;
}
.sidebar-links li:hover{background-color: #efeded;}
.sidebar-links a{
  display: flex;
  align-items: center;
  gap: 10px;
}
.active-sidebar{background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);}
.active-sidebar a{
  color: white;
}
.sidebar-icons{
  color: gray;
  font-size: 15px;
}
.section-title{
  padding-left: 20px;
  font-weight: bold;
  color: rgba(95, 95, 95, 0.7);
  margin: 16px 0px 8px 0px;
  font-size: 12px;
  line-height: 1.25;
}
.documentation{
  width: 100%;
  background-color: white;
  padding: 8px 16px;
  margin: 0px 0px 16px 0px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: 0.2s;
}
.documentation:hover{color: rgb(99, 99, 99);}
.Upgrade-btn{
  width: 100%;
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  padding: 8px 16px;
  margin: 0px 0px 8px 0px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
.dashboard{
  margin-left: 250px;
  margin-right: 10px;
}
.dashboard-intro{
  margin-left: 260px;
  margin-bottom: 25px;
}
.intro-title{
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin: 15px 0px 5px 0px;
}
.intro-subtext{
  margin: 0px;
  color: var(--light-gray);
  font-size: 16px;
}
.performance-overview{
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 20px;
}
.metric-card {
  background-color: white;
  height: 100px;
  flex: 1 1 calc(25% - 60px); 
  border-radius: 8px;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
  padding: 5px 10px 5px 20px;
  cursor: pointer;
}
.metric-card .top-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.metric-card .bottom-card p{
  color: var(--light-gray);
  margin: 0px;
  margin-top: 10px;
}
.positive-metric-percentage{
  color: #4CAF50;
  font-weight: bold;
}
.negative-metric-percentage{
  color: #F44335;
  font-weight: bold;
}
.metric-subtext{
  margin: 0px;
  margin-top: 5px;
  color: var(--light-gray);
}
.metric-figure{
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
.metric-icon{
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.metric-icon i{
  font-size: 15px;
  color: white;
}
.charts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 10px;
}
.chart-card{
  background-color: white;
  flex: 1 1 calc(33.33% - 50px);
  border-radius: 8px;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
  padding: 15px 10px 15px 17px;
  cursor: pointer;
}
.chart-container {
  position: relative;
  width: 100%;
}
.chart-card .top-card{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.chart-card .bottom-card{color: var(--light-gray);}
.chart-text{
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}
.info{
  color: var(--light-gray);
  margin-top: 5px;
  margin-bottom: 25px;
}
.bold-span{font-weight: 600;}
.activity{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.projects{
  background-color: white;
  flex: 1 1 calc(67% - 25px);
  border-radius: 8px;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: auto;
}
.projects-header{padding: 15px 10px 5px 17px;}
.project-text{
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}
.projects .info, .orders .info{
  color: var(--light-gray);
  margin: 15px 0px 25px 4px;
}
.orders{
  flex: 1 1 calc(30% - 25px);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
  padding: 15px 10px 5px 17px;
  cursor: pointer;
}
.orders-text{
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}
table{
  width: 650px;
  border-collapse: collapse; 
}
th{
  color: var(--light-gray);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.7;
  padding: 0px 0px 10px 21px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
td{
  padding: 13px 0px 13px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
}
.companies{
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 500;
}
.table-logo{width: 40px;}
.team-image{
  width: 20px;
  border-radius: 15px;
  margin-left: -13px;
  border: 2px solid white;
}
.team-image:first-child {margin-left: 10px;}
.budget{
  padding: 0px 22px;
  color: var(--light-gray);
  font-size: 12px;
}
.Completion{
  padding-right: 10px;
  color: var(--light-gray);
  font-size: 12px;
  width: 130px;
}
.progress-bar{
  background-color: #ddd;
  height: 3px;
  border-radius: 5px;
  margin-top: 4px;
  width: 100%; 
}
.progress-bar-fill{
  height: 100%;
  border-radius: 5px;
}
.orders-bottom{padding: 3px 5px 0px 3px;}
.order-paragraph{
  padding: 0px 0px 20px 40px;
  position: relative;
}
.order-paragraph::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  bottom: -20px;
  width: 2px;
  background: #e0e0e0;
}
.order-paragraph:last-child::before {
  bottom: 0px;
}
.order-title{
  margin: 0px 0px 4px 0px;
  font-weight: 600;
  line-height: 21px;
  color: #262626;
}
.subtitle{
  font-weight: 600;
  font-size: 12px;
  color: var(--light-gray);
  margin: 0px;
}
.event-icon{
  position: absolute;
  top: 0px;
  left: 6px;
  background-color: white;
  padding: 5px 0px 5px 0px;
}
.bell{
  left: 7px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px 10px 0px;
}
footer p{
  color: var(--light-gray);
}
footer a{
  color: var(--light-gray);
  text-decoration: none;
}
footer span{
  color: black;
  font-weight: 600;
}
.bottom-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
@media (max-width: 1200px) {
  .Sidebar{
   display: none;
  }
  .dashboard{
    margin-left: 0px;
  }
  .dashboard-intro{
    margin-left: 10px;
  }
  nav{
    margin-left: 0px;
    padding-left: 13px;
  }
}
@media (min-width: 985px) and (max-width: 1200px) {
  table{
    width: 100%;
  }
}
@media (max-width: 850px) {
  .metric-card {
    flex: 1 1 calc(50% - 40px);
  }
  .chart-card{
    flex: 1 1 calc(50% - 50px);
  }
}
@media (max-width: 820px) {
  .online-builder{
    margin-right: 0px;
    padding: 8px 10px;
  }
  .github-button{
    display: none;
  }
  .projects{
    flex: 1 1 calc(55% - 25px);
  }
}
@media (max-width: 700px) {
  .projects{
    flex: 1 1 100%;
  }
  footer{
    flex-direction: column;
  }
}
@media (max-width: 667px) {
  .input-wrapper{
    width: 150px;
  }
}
@media (max-width: 610px) {
  .input-wrapper{
    width: 130px;
  }
  .chart-card{
    flex: 1 1 100%;
  }
  .charts{
    gap: 20px;
  }
}
@media (max-width: 597px) {
  .input-wrapper{
    width: 100px;
  }
}
@media (max-width: 565px) {
  .online-builder{
    display: none;
  }
  .input-wrapper{
    width: 150px;
    margin-right: 18px;
  }
}
@media (max-width: 500px) {
  .input-wrapper{
    width: 120px;
  }
}
@media (max-width: 450px) {
  .metric-card {
    flex: 1 1 100%;
  }
  .input-wrapper{
    width: 100px;
  }
}
